.conteudo {
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw;
    margin: 0 auto;
}

.conteudo img {
    max-width: 100%;
    display: block;
}

/* 
Utilizando as propriedades especificas
GROW/BASIS/SHRINK */
.conteudo>div {
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px; */
    flex: 1 1 300px;
}

table{
    border-collapse: collapse;
    margin: 5% auto;

}
th,td{
    border: 2px solid rgb(155, 155, 155);
    padding: 8px;   
}



tr:nth-child(even){
    background-color:rgb(253, 255, 130);
}

tr:nth-child(odd){
    background-color:rgb(255, 127, 127);
}

tr:nth-child(1){
    background-color:rgb(255, 255, 255);
}

tr:hover{
    background-color: rgba(250, 235, 215, 0);
}