@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./estilo-627x.css");
@import url("./rodape.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.tit-sec{
    text-align: center;
    font-size: 3em; /*em é uma unidade medida no css do elemento pai, nessa caso o elemento pai é body*/
}

