

tr:nth-child(even){
    background-color:rgb(253, 255, 130);
}

tr:nth-child(odd){
    background-color:rgb(255, 127, 127);
}

tr:nth-child(1){
    background-color:rgb(255, 255, 255);
}

tr:hover{
    background-color: rgba(250, 235, 215, 0);
}

#imagem {
    width: 15%;
}

#elemento {
   color: black;
}